h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
th, td {
    border: solid 1px black;
}
table {
    width: 90%;
    display: flex;
    margin: 0 auto;
}
table img {
    width: 100px;
    height: 100px;
}